.password {
    background: rgb(234,218,212);
    background: linear-gradient(125deg, rgba(234,218,212,1) 0%, rgba(212,219,227,1) 25%, rgba(230,229,210,1) 50%, rgba(235,224,209,1) 75%, rgba(218,228,218,1) 100%);
    height: 100vh;
    width: 100vw;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .logoMicrosoft{
    width: 23px;
    height: 23px;
    margin-right: 0.3rem;
  }
  .logoCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height:30px;
    margin-top: 9px;
    margin-bottom: 2px;
    /* margin-left: 40px; */
  }

  .appCont{
    display: flex;
    flex-direction: column;
    width: 34.4%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 7%;
    left: 34%;
    /* margin: -50px 0 0 -50px; */
  }

  .appCont > form {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 16px;
  }
  .appCont > p{
    width: 80%;
    margin: 10px 0;
    font-size: 15px;
  }
  .appCont > h3{
    width: 80%;
    margin: 3px 0;
    font-weight: 500;
    font-size: 23px;
  }
  .pContent{
    color: #2281cb;
    font-size:"13px";
    width: 80%;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
  }
  .pContent:hover{
    color: #838485;
    text-decoration: underline;
  }

  .pwdForm{
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:1px solid black;
    background-color: #fff;
    padding: 5px 0px;
  }
  input::placeholder{
    font-size: 0.90rem;
    font-weight: 200;
  }
  input:focus {
    outline: none;
    border-bottom:1px solid black;
  }
  input:hover {
    outline: none;
    border-bottom:1px solid #4B65FF;
  }

  .ctrl{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
  }
  .ctrl > button {
    border: none;
    margin-left: 5px;
    width: 25%;
    height: 100%;
    cursor: pointer;
  }
  .btn1{
    background-color: #C0c6c9;
  }
  .btn{
    margin-right: 48px;
    background-color: #2b78b1;
    color: white;
  }
  .conditions{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    right: 1%;
    /* bottom: 0;
    right: 0; */
  }
  .conditions > h5{
    margin-right: 15px;
    font-weight: 400;
    cursor: pointer;
    font-size: 12px;
  }
  h5:hover{
    text-decoration: underline;
  }
  /* .condition > h5:hover{
    cursor: pointer;
    text-decoration: underline;
  } */